{%extends "base.html"%}
{%block main %}

<div class="profile_more">
   <div class="profilemoretop">
        <div class="pic">
            <img class="profilepic" src={{url_for('static',filename=user.photo)}}/>
        </div>
        <div class="info"> 
           <strong>{{user.first_name}} {{user.last_name}}</strong>
            <h6>{{user.email}} </h6>
            <h6>{{user.location}}</h6>
            <h6>{{user.date}}</h6>
        </div>
    </div>
        <div class="profileaboutme">
            <h5>About me </h5>
            <p>{{user.biography}}</p>
    
    
        </div>
<div class="profilemorebtn">
    <button class="btn btn-success">Send Message</button>
    <button class="btn btn-primary">Follow</button>

</div>


</div>
{%endblock%}