{% extends "base.html" %}
{% block main %}
<div>
<h1>Add Profile</h1>
<hr>
<form  class="forms" method="POST" enctype="multipart/form-data" action="{{ url_for('profile') }}">
	<div class="form-group">
	{{ form.csrf_token }}

 	<div>{{ form.FirstName.label }}<br>
 	
 	{{ form.FirstName() }}
	 </div> <br>

	 <div>{{ form.LastName.label }}<br>
	
	{{ form.LastName() }}
	</div> <br>

	<div>{{ form.Gender.label }}<br>
	
	{{ form.Gender() }}
	</div> <br>

 	<div>{{ form.Email.label }}<br>
 	
 	{{ form.Email() }}
 	</div><br>
 	

 	<div>{{ form.Location.label }}<br>
 	
 	{{ form.Location() }}
 	</div><br>

 	<div>	
 	{{ form.Biography.label }}<br>
 	
 	{{ form.Biography() }}
	 </div><br>
	 
	 <div>
		<label>Please Select Browse to Upload a </label>
		{{form.photo.label}}<br>
		{{form.photo(class='btn btn-default')}}
	  </div><br>

	<button type="submit" class="btn btn-success">Add Profile</button>
</div>
</form>
</div>
{% endblock %}